<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>RESTAURANTE</title>
</head>
<body >

<div class="container"> 
    <h1 class="text-center">LAS DELICIAS DE MAFECITA <br> FACTURA
    </h1>
        
        {% include 'menu.html' %}

        <div class="container">
            <div class="row">
              
            </div>
            <div class="jumbotron jumbotron-fluid bg-info m-3">
                <div class="container">
                    <h1 class="display-4 text-dark text-center pb-10">FACTURA</h1>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQRJ42NLV9h-0w8ZH1SS-az1h_ERXNMTV_Cg&usqp=CAU" class="rounded float-right" alt="...">  
                    {% for factura in informacionFactura %} 
                <p class="lead text-white text-left ">
                  <br> NOMBRES: {{ factura.nombre }} <br> APELLIDOS: {{ factura.apellido }}<br> NUMERO CELULAR: {{ factura.celular }}<br> CORREO: {{ factura.email }}<br> CANTIDAD: {{ factura.cantidad }}<br> VALOR UNITARIO: {{ factura.valPlato }}<br> VALOR TOTAL: {{ factura.valTotal }} </p>
                  {% endfor %} 
                <H3>MUCHAS GRACIAS POR CONFIAR EN NOSOTROS</H3>
                <a href="/"><button type="button" class="btn btn-outline-dark">Regresar</button></a>
              </div>

            </div> 
                            
                            
                   
                    
                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>